{% for categorie in categories %}
    <li>
        <a href="{{ path('categorieProduits', { 'categorie' : categorie.id }) }}">{{ categorie.nom }}</a>
    </li>
{% endfor %}
    <li>
        <a href ="{{ path('produits')}}">Tous</a>
    </li>